@use "./font";
@use "./reset";
@use "./root";

body {
  font-family: var(--ff-primary);

  text-align: center;

  background-image: url("../../images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  background-image: url("../../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 3rem 0;
}

.h1-like {
  font-weight: var(--fw800);
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--clr-cta-bg);
}

.p-like {
  font-weight: var(--fw600);
  font-size: 0.8125rem;
  line-height: 1.6rem;
  color: var(--clr-text);
}

.p-cta {
  max-width: 20ch;
}

.p-slider {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.p-price {
  font-weight: var(--fw800);
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.1rem;
  color: var(--clr-cta-bg);
}

.price-card {
  background-color: #fff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 0.5rem;

  padding: 2rem 1.5rem;

  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    input {
      -webkit-appearance: none;
      width: 100%;
      height: 0.5rem;
      background-color: var(--clr-slider-bg);
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
      border-radius: 0.3125rem;

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.3rem;
        border: 0;
        border-radius: 50%;
        background: url("../../images/icon-slider.svg");
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.3rem;
        border: 0;
        border-radius: 50%;
        background: url("../../images/icon-slider.svg"), var(--clr-slider-bg);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }
    }
  }

  .bill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    margin: 1.5rem 0;

    .discount {
      font-size: 0.625rem;
      line-height: 0.875rem;
      color: var(--clr-discount-text);
      background: var(--clr-discount-bg);
      border-radius: 0.6rem;
      padding: 0.6em;
    }
  }

  .divider {
    width: 100%;
    height: 0.1rem;
    background-color: var(--clr-empty-slider);
  }

  .features {
    margin: 1.5rem 0;

    .feature {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    .feature:before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      background-image: url("../../images/icon-check.svg");
      background-repeat: no-repeat;
    }
  }

  .btn {
    cursor: pointer;

    background-color: var(--clr-cta-bg);
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 1.25rem;
  }
}

/* The switch - the box around the slider */
.switch {
  padding: 0 1rem;
  position: relative;

  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    inset: 0;
    background-color: var(--clr-empty-slider);
    border-radius: 1.25rem;

    &:before {
      content: "";
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      left: 0.3rem;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.4s;
    }
  }

  input:checked + .slider {
    background-color: var(--clr-slider-bg);
  }

  input:checked + .slider:before {
    transform: translateX(1rem);
  }
}

@media (min-width: 90em) {
  .p-cta {
    max-width: unset;
  }

  .price-card {
    padding: 3rem 3rem;

    .slider {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      input {
        order: 3;
      }
    }

    .features {
      .feature {
        justify-content: flex-start;
      }
    }

    .bill {
      margin: 2rem 0;

      .discount::after {
        content: " discount";
      }
    }

    .footer-cta {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
